@{
    ViewData["Title"] = "Магазин!";
    Layout = "_LayoutBase";
}

@await Html.PartialAsync("Partial/_Slider")

<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                @await Html.PartialAsync("Partial/_LeftSideBar")
            </div>

            <div class="col-sm-9 padding-right">
                @await Html.PartialAsync("Partial/_FeaturedItems")

                @await Html.PartialAsync("Partial/_CategoryTab")

                @await Html.PartialAsync("Partial/_RecomendedItems")
            </div>
        </div>
    </div>
</section>