<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" charset="utf-8" />
    <title>WebStore app</title>
</head>
<body>
    <p>Первое представление</p>
    <p>qwe</p>
</body>
</html>