@*@model*@

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" charset="utf-8" />
    <title>WebStore app</title>
</head>
<body>
    <p>@DateTime.Now.ToString("d")</p>
    <p>@(DateTime.Now + TimeSpan.FromSeconds(10))</p>
    @{
        var int_var = 53;
    }
    <p>@int_var</p>
    <ul>
        @foreach (var i in new int[] { 1, 3, 5, 7 })
        {
            <li>@i</li>
            <text>Hello World</text>
            @:Hello Wolrd!!!!
        }
    </ul>

<p>user_name@server.ru</p>
<p> В тексте вставить символ "собаки" @@</p>
    
@*  

    Комментарий    

*@
    
</body>
</html>